body #GAME,
body #board,
body{
    width: 100%;
    max-height: 600px !important;
    height: 600px !important;
    position: relative;
}

#sprite,
.enemy{
    height: 100px;
    width: 100px;
    position:absolute;
}

.button:hover{
    cursor: pointer;
}

.button{
    font-size: 1.5em;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    color: lightseagreen;
    padding: 10px;
    margin: 1em;
    text-align: center;
}

#scoreTile {
    font-size: 4em;
    font-weight: bolder;
    color: lightseagreen;
}

#scoreTileTitle{
    font-size: 2em;
    display:block;
    color: lightseagreen;
}

#scoreContainer{
    position: absolute;
    top:-5px;
    right: 20px;
    text-align: center;
}